{% extends 'base.html.twig' %}

{% block title %}Modify password{% endblock %}

{% block content %}
    <h1>Modify my password</h1>

    <a href="{{ path('account') }}" class="btn btn-success">Return</a><br>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.old_password) }}
            {{ form_row(form.new_password) }}
            <button type="submit" class="btn btn-lg btn-primary">Register</button>
        {{ form_end(form) }}

{% endblock %}
