{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - Daki Suki{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-5">
            <img src="/upload/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid img-size">
        </div>
        <div class="col-md-7 my-auto">
            {% if product.quantity == 0 %}
            <b><h2 style="color:#b60000;">Sold out</h2></b>
            {% endif %}
            <h3>{{ product.name }}</h3>
            <p>{{ product.subtitle }}</p>
            <span class="product-page-price">{{ (product.price / 100)|number_format(2,',','.') }} €</span>
            <hr>
            <p>{{ product.description }}</p>
            {% if product.quantity != 0 %}
                <hr>
                <a href="{{ path('add_to_cart', {'id' : product.id}) }}" class="btn btn-primary">Add to cart</a>
            {% endif %}
        </div>
    </div>

    <hr>

    <h3>Our bests sellers</h3>
    <!-- Three columns of text below the carousel -->
    <div class="row">
        {% for product in products %}
            <div class="col-md-3" style="padding:2em;">
                <a href="{{ path('display-prod', {'slug' : product.slug}) }}">
                    <div class="product-item text-center">
                        <img src="/upload/{{ product.illustration }}/" class="img-fluid">
                        <h5 class="mt-2">{{ product.name }}</h5>
                        <span class="product-subtitle">{{ product.subtitle }}</span>
                        <span class="product-pice">{{ (product.price / 100)|number_format(2,',','.') }} €</span>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div><!-- /.row -->

{% endblock %}