{% extends 'base.html.twig' %}

{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}Verify information about my command - Daki Suki{% endblock %}

{% block content %}

    <h1>Summary</h1>
    <p>Please verify your information.</p>

    <div class="row">
        <div class="col-md-6">
            <strong>My shipping address:</strong><br>
                <div class="form-check mt-3">
                    {{ delivery|raw }}
                </div>
            <strong>My carrier:</strong><br>
                <div class="form-check mt-3">
                    {{ carrier.name }}<br>
                    {{ carrier.description }}<br>
                    {{ (carrierPrice / 100)|number_format(2, ',', '.') }} €
                </div>
        </div>
        <div class="col-md-6">
            <b>Summary:</b><br>
            <div class="order-summary">
                {% set total = null %}
                {% for key,product in cart %}
                    <div class="row {% if key > 0 %}mt-2{% endif %}">
                        <div class="col-2">
                            <img src="{{ asset('/upload/' ~product.product.illustration) }}" alt="{{ product.product.name }}" height="75px">
                        </div>
                        <div class="col-8 my-auto">
                            {{ product.product.name }}<br>
                            <small>{{ product.product.subtitle }}<br>
                            x {{ product.quantity }}
                            </small>
                        </div>
                        <div class="col-2 my-auto">
                            {{ ((product.product.price * product.quantity) / 100)|number_format(2,',','.') }} €
                        </div>
                    </div>
                    {% set total = total + (product.product.price * product.quantity) %}
                {% endfor %}
            </div>
            <hr>
            <strong>Products:</strong> {{ (total / 100)|number_format(2,',','.') }} €<br>
            <strong>Carrier:</strong> {{ (carrierPrice / 100)|number_format(2,',','.') }} €
            <hr>
            <strong>Total:</strong> {{ ((total/100) + (carrierPrice / 100))|number_format(2,',','.') }} €

            <a href="{{ path('stripe_create_session', {'reference': reference}) }}" class="btn btn-success btn-block mt-3" id="checkout-button">Pay | {{ ((total/100) + (carrierPrice / 100))|number_format(2,',','.') }} €</a>
        </div>
    </div>

{% endblock %}
